<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gabrieleis02funtionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9e699c67-b11a-4905-be0f-aafdc4cd75f9/resourceGroups/gabrieleis02/providers/Microsoft.Web/sites/gabrieleis02funtionapp</ResourceId>
    <UserName>$gabrieleis02funtionapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://gabrieleis02funtionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>